.mainBody {
  /* scroll-snap-align: start; */
  height: 100vh;
  width: 100%;
  background: #0d274d;
  color: white;
  position: relative;
  padding-top: 4%;
}
.gridLeft {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftSideWorld {
  width: 80%;
  margin-left: 20%;
}
.presenceMain {
  width: 80%;
  margin: auto;
  color: white;
  width: 80%;
  margin: auto;
  color: white;
  background-color: #0d274d;
}

.wave1white {
  display: flex;
  flex-direction: row;
  width: 33%;
  margin-left: 1%;
  position: absolute;
  top: 2%;
}

.firstWave {
  width: 138%;
  margin-left: -19px;
  margin-top: 1px;
}

.wave1grey {
  display: flex;
  flex-direction: row;
  width: 33%;
  margin-left: 1%;
  position: relative;
  top: 10%;
}
.mapTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: white;
  width: 40%;
}

.our-presence-title {
  font-size: 4rem;
  width: 50%;
}

@media screen and (max-width: 480px) {
  .continents-tabs {
    width: fit-content;
    margin: auto;
    margin: 5% -3%;
  }
  button#simple-tab-0,
  button#simple-tab-1,
  button#simple-tab-2,
  button#simple-tab-3,
  button#simple-tab-4 {
    min-width: 3.4rem;
    max-width: 5rem;
    font-size: 0.7rem;
    padding: 6px 2px;
  }
  .continents-tab .continents-tab span {
    font-size: 0.7rem !important;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1920px) {
  .our-presence-title {
    font-size: 4rem !important;
  }
  .our-presence-text {
    font-size: 1.2rem !important;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
  .our-presence-title {
    font-size: 5rem !important;
  }
  .our-presence-text {
    font-size: 1.2rem !important;
  }
}
